/*! elementor - v3.16.0 - 09-10-2023 */

.lakit-iconbox {
  padding: 60px 40px;
  transition: 0.4s;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.e-con .lakit-iconbox {
  background-color: transparent;
}
.lakit-iconbox:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 101% 101%;
  transition: 0.4s;
  left: 0;
  top: 0;
  pointer-events: none;
}
.lakit-iconbox__badge {
  position: absolute;
  line-height: 1;
  z-index: 2;
}
.lakit-iconbox__title {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
}
.lakit-iconbox__image-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}
.lakit-iconbox__image-hover img {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  object-fit: cover;
}
.lakit-iconbox__icon-hover {
  position: absolute;
  bottom: -50px;
  right: 0;
  opacity: 0;
  transition: 0.4s;
  z-index: 1;
  font-size: 6em;
}
.lakit-iconbox__icon-hover .lakit-iconbox__water_icon {
  font-size: 1em;
}
.lakit-iconbox__box_icon {
  display: inline-block;
  line-height: 1em;
  font-size: 4em;
  text-align: center;
  vertical-align: top;
}
.lakit-iconbox__box_icon.icon_pos_top {
  margin-bottom: 1.25rem;
}
.lakit-iconbox__box_icon.icon_pos_left {
  margin-right: 1.25rem;
}
.lakit-iconbox__box_icon.icon_pos_right {
  margin-left: 1.25rem;
}
.lakit-iconbox__icon {
  font-size: 1em;
  line-height: inherit;
  transition: 0.4s;
}
.lakit-iconbox__box_body {
  flex-grow: 1;
}
.lakit-iconbox__box_body,
.lakit-iconbox__box_header {
  position: relative;
  z-index: 2;
}
.lakit-iconbox__icon-align-left,
.lakit-iconbox__icon-align-right {
  display: flex;
  flex-flow: row;
  text-align: left;
}
.lakit-iconbox__icon-align-right {
  text-align: right;
  flex-flow: row-reverse;
}
.lakit-iconbox:hover .lakit-iconbox__icon-hover {
  opacity: 1;
  bottom: -20px;
}
.lakit-iconbox svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: top;
}
.lakit-iconbox.gradient-active:before {
  top: 0;
  left: -101%;
  transition: 0.6s;
}
.lakit-iconbox.gradient-active.hover_from_right:hover:before,
.lakit-iconbox.gradient-active.hover_none:before,
.lakit-iconbox.gradient-active:hover:before {
  left: 0;
}
.lakit-iconbox.gradient-active.hover_from_top:before {
  left: 0;
  top: -100%;
}
.lakit-iconbox.gradient-active.hover_from_bottom:hover:before,
.lakit-iconbox.gradient-active.hover_from_top:hover:before {
  top: 0;
}
.lakit-iconbox.gradient-active.hover_from_right:before {
  left: 100%;
}
.lakit-iconbox.gradient-active.hover_from_bottom:before {
  left: 0;
  top: 100%;
}
.lakit-iconbox.image-active:before {
  background-color: transparent;
  transition: 0.4s;
  z-index: 1;
}
.lakit-iconbox.image-active:hover .lakit-iconbox__image-hover img {
  opacity: 1;
  transform: scale(1.06);
}
.lakit-equal-height-enable .lakit-iconbox,
.lakit-iconbox__icon-align-lefttitle .lakit-iconbox__box_header,
.lakit-iconbox__icon-align-righttitle .lakit-iconbox__box_header {
  display: flex;
  align-items: center;
}
.lakit-iconbox__icon-align-righttitle .lakit-iconbox__box_icon {
  order: 2;
}
.lakit--icon-floating-button .lakit-iconbox__box_body {
  position: static;
}
.lakit--icon-floating-button .lakit-iconbox__button_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
}
.lakit--icon-floating-button .lakit-iconbox__button_wrapper .elementor-button {
  height: 100%;
}
.lakit--icon-floating-button--left .lakit-iconbox__button_wrapper {
  left: 0;
}
.lakit--icon-floating-button--right .lakit-iconbox__button_wrapper {
  right: 0;
}
.lakit-iconbox .enable_hover_btn {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: 0.3s;
}
.lakit--icon-floating-button--left .enable_hover_btn {
  transform: translateX(20px);
}
.lakit--icon-floating-button--right .enable_hover_btn {
  transform: translateX(-20px);
}
.lakit-iconbox:hover .enable_hover_btn {
  opacity: 1;
  visibility: inherit;
  transform: translate(0);
}
.elementor-lakit-icon-box.show-content-hover-yes .lakit-iconbox__box_body {
  transition: 0.4s;
  opacity: 0;
}
.elementor-lakit-icon-box.show-content-hover-yes:hover
  .lakit-iconbox__box_body {
  opacity: 1;
}
.lakit-iconbox__box_body {
  display: flex;
  flex-direction: column;
}
.lakit--icon-floating-button .lakit-iconbox__box_body > * {
  z-index: 1;
}
.lakit-iconbox__divider {
  line-height: 0;
}
.lakit-iconbox__divider:before {
  content: "";
  display: inline-block;
  width: var(--lakit-iconbox-divider-width, 100%);
  border-top: var(--lakit-iconbox-divider-height, 1px) solid
    var(--lakit-iconbox-divider-color, currentColor);
  height: 0;
  line-height: 0;
}
.lakit-iconbox__title_wrap {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
}
.lakit-bannerlist {
  --e_bnl-text-align: center;
  --e_bnl-align: center;
  --e_bnl-iwidth: 100%;
}
.lakit-bannerlist__image,
.lakit-bannerlist__link {
  position: relative;
  overflow: hidden;
  display: block;
}
.lakit-bannerlist.lakit-carousel .lakit-bannerlist__list_wrapper,
.lakit-bannerlist.lakit-masonry-wrapper,
.lakit-bannerlist__list.col-row {
  margin-left: calc(-1 * var(--lakit-bannerlist-col-gap, 10px));
  margin-right: calc(-1 * var(--lakit-bannerlist-col-gap, 10px));
}
.lakit-bannerlist.lakit-masonry-wrapper .lakit-bannerlist__list {
  margin: 0;
}
.lastudio-kit .lakit-bannerlist__item {
  padding: var(--lakit-bannerlist-col-gap, 10px);
  margin-bottom: var(--lakit-bannerlist-row-gap, 0);
}
.lakit-bannerlist__image {
  width: var(--e_bnl-iwidth);
  display: inline-block;
  vertical-align: middle;
}
.lakit-bannerlist__image:before {
  content: "";
  display: block;
}
.lakit-bannerlist__image-instance {
  width: 100%;
  min-width: 20px;
  min-height: 20px;
  transition: transform 0.5s;
  object-fit: cover;
  transform: scale(var(--lakit-bannerlist-image-scale, 1));
}
.lakit-bannerlist__image .lakit-bannerlist__image-instance {
  border-radius: inherit;
}
.lakit-bannerlist__link:hover .lakit-bannerlist__image-instance {
  transform: scale(var(--lakit-bannerlist-image-scale-hover, 1.15));
}
.lakit-bannerlist__content-inner {
  width: var(--lakit-bannerlist-content-width, auto);
  max-width: 100%;
  padding: var(--lakit-bannerlist-content-padding, 0);
  margin: var(--lakit-bannerlist-content-margin, 0);
  border-radius: var(--lakit-bannerlist-content-radius, 0);
}
.enable-c-height-true .lakit-bannerlist__image-instance {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lakit-bannerlist.layout-type-overlay .lakit-bannerlist__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-basis: 100%;
  display: flex;
  width: 100%;
}
.lakit-bannerlist.layout-type-overlay .lakit-bannerlist__content-inner {
  position: absolute;
}
.lakit-bannerlist__image:after {
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: 0.4s;
  opacity: 0;
  mix-blend-mode: var(--lakit-banner-overlay-mix-blend-mode, "initial");
}
.lakit-bannerlist.layout-type-overlay.lakit-masonry--cover-bg
  .lakit-bannerlist__image-instance {
  height: calc(
    var(--item-height, auto) * 1px - var(--lakit-bannerlist-col-gap, 0) * 2
  );
}
.content-visible-hover-yes
  .lakit-bannerlist.layout-type-overlay
  .lakit-bannerlist__content {
  opacity: 0;
  transition: 0.3s;
}
.content-visible-hover-yes
  .lakit-bannerlist.layout-type-overlay
  .lakit-bannerlist__inner:hover
  .lakit-bannerlist__content {
  opacity: 1;
}
.lakit-bannerlist__subtitle {
  color: var(--e-subtitle-color);
}
.lakit-bannerlist__title {
  color: var(--e-title-color);
}
.lakit-bannerlist__desc {
  color: var(--e-desc-color);
}
.lakit-bannerlist__subdesc {
  color: var(--e-subdesc-color);
}
.lakit-bannerlist__inner:hover .lakit-bannerlist__subtitle {
  color: var(--e-subtitle-hover-color, var(--e-subtitle-color));
}
.lakit-bannerlist__inner:hover .lakit-bannerlist__title {
  color: var(--e-title-hover-color, var(--e-title-color));
}
.lakit-bannerlist__inner:hover .lakit-bannerlist__desc {
  color: var(--e-desc-hover-color, var(--e-desc-color));
}
.lakit-bannerlist__inner:hover .lakit-bannerlist__subdesc {
  color: var(--e-subdesc-hover-color, var(--e-subdesc-color));
}
.lakit-bannerlist__inner {
  text-align: var(--e_bnl-text-align);
}
.bannerlist--preset-flat02 .lakit-bannerlist__link {
  display: flex;
  flex-direction: column;
  align-items: var(--e_bnl-align);
}
.bannerlist--preset-flat02 .lakit-bannerlist__content {
  order: -2;
}
